.block-d {
    margin-top: 10vh;
    padding-top: 10vh;
    position: relative;
}

.block-d-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

/* LEFT */
.block-d-left {
    flex: 0 0 48%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.block-d-image-wrapper-left {
    position: relative;
    width: 80%;
    top: -6vh;
}

.block-d-image-wrapper-left::before {
    content: '';
    position: absolute;
    top: -4vh;
    left: -2vw;
    width: 120%;
    height: 90%;
    background-color: #2E75BA;
    z-index: -2;
}

.block-d-image-wrapper-left::after {
    content: '';
    position: absolute;
    top: -2vh;
    left: 1vw;
    width: 100%;
    height: 97%;
    border: 0.3vh solid #86C3F9;
    z-index: 1;
    pointer-events: none;
}

.block-d-image-left {
    width: 100%;
}

.block-d-text-left {
    position: relative;
    background-color: #FFFFFF;
    top: -6vh;
    width: 80%;
    min-height: 25vh;
}

.block-d-text-left h2 {
    margin-bottom: 15px;
    font-size: 1.5vw;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

.block-d-text-left p {
    display: block;
    line-height: 3.5vh;
    overflow: hidden;
}

.block-d-text-left a {
    text-decoration: none;
    color: #424146;
}

.block-d-text-left a:hover {
    color: #2E75BA;
}


/* RIGHT */
.block-d-right {
    flex: 0 0 48%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.block-d-right::after {
    content: '';
    position: absolute;
    top: -2vh;
    right: 5vw;
    width: 35%;
    height: 100%;
    background-color: #86C3F9;
    z-index: -2;
}

.block-d-image-wrapper-right {
    position: relative;
    width: 100%;
    top: 6vh;
}

.block-d-image-wrapper-right::before {
    content: '';
    position: absolute;
    top: -2vh;
    left: 1vw;
    width: 100%;
    height: 97%;
    border: 0.3vh solid #2E75BA;
    z-index: 1;
    pointer-events: none;
}

.block-d-image-right {
    width: 100%;
}

.block-d-text-right {
    position: relative;
    background-color: transparent;
    width: 100%;
    min-height: 50vh;
    padding: 30px;
}

.block-d-text-right h2 {
    position: relative;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 8vh;
}

.block-d-text-right a {
    text-decoration: none;
    color: #424146;
}

.block-d-text-right a:hover {
    color: #2E75BA;
}
