.block-e {
    margin-top: 15vh;
    position: relative;
}

.block-e-container {

}

.block-e-container::after {
    content: '';
    position: absolute;
    top: 10vh;
    left: 0vw;
    width: 100%;
    height: 100%;
    background-color: #2E75BA;
    z-index: -2;
}

.block-e-video {
    position: relative;
    width: 100%;
}

.block-e-video iframe {
    width: 70vw;
    height: 70vh;
    display: block;
    margin: 0 auto;
}

.block-e-video video {
    width: 70vw;
    height: 70vh;
    display: block;
    margin: 0 auto;
    background-color: black;
}

.block-e-video::before {
    content: '';
    position: absolute;
    top: -2vh;
    left: 7vw;
    width: 84%;
    height: 110%;
    border: 0.3vh solid #86C3F9;
    z-index: 1;
    pointer-events: none;
}

.block-d-text {
    text-align: center;
    color: #86C3F9;
}