*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.65;
    background-color: #FFFFFF;
    background: url('../img/background1.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/** -- MENU -- **/
.menu{
    overflow: hidden;
    position:relative;
    border-bottom: 1px solid #999999;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 60px;
    top: -1%;
    z-index: 10000;
    list-style-type: none;
    text-align: right;
}

.menu li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 5px;
}

.menu li a
{
    text-decoration: none;
    padding: 2em 1em;
    color: #FFFFFF;
}

.menu li a:hover
{
    color: #D3B0FC;
}

.menu-button {
    position: relative;
    top: 5px;
    left: 10px;
    display: none;
    cursor: pointer;
}

.menu-button img {
    width: 45px;
    height: 45px;
}

#menuCheck{
    display: none;
}

@media screen and (max-width: 850px){
    .menu-wrapper{
        background: #FFFFFF;
    }

    .menu{
        display: none;
        position: absolute;
        background: #FFFFFF;
        color: #FFFFFF;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        text-align: left;
        z-index: 10000;
        min-height: 6%;
        width: 50%;
    }

    .menu li{
        display: block;
        padding-left: 20px;
    }

    .menu li a{
        display: block;
        padding: 0;
        text-decoration: none;
        border-bottom: none; 
    }

    #selectPage
    {
        color: #FFFFFF;
        background-color: #222222;
        border-left: 0px solid #B8B8B8;
    }

    .menu-button{
        display: inline-block;
    }

    #menuCheck:checked + .menu{
        display: block;
        width: 100%;
        top: 52px;
    }

    .menu-logo {
		visibility: hidden;
	}
}
/** -- MENU -- **/

/** -- HEADER -- **/
header{
    height: calc(100vh - 80px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
    background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
    opacity: 0.7;
    overflow: hidden;
}

#headerTitleAndLogo {
	text-align: center;
	color: #FFF;
	display: inline-block;
	height: 60px;
	width: 400px;
	position: relative;
	top: calc(40vh - 25px);
	left: 50%;
	margin-left: -200px;
	margin-top: -30px;
}

#title {
	opacity: 0;
	font-weight: bold;
	font-family: "Arial", sens-serif;
	font-size: 40px;
	text-transform: uppercase;
}

#logo {
	opacity: 0;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	height: 86px;
	width: 86px;
	position: absolute;
	top: -70px;
	left: 50%;
	margin-left: -43px;
	margin-top: -43px;
}

#info {
	opacity: 0;
	text-align: center;
	color: #FFF;
	display: inline-block;
	height: 150px;
	width: 500px;
	position: absolute;
	top: 200%;
	left: 0%;
	margin-left: -43px;
	margin-top: -43px;
}

/** -- HEADER -- **/

/** -- SECTION -- **/
section {
	display: block;
	min-height: 400px;
	background-color: #FFFFFF;
}

.section-content-left{
	float: left;
    width: 40%;
    min-height: 100%;
}

.section-content-right {
	float: right;
	width: 60%;
	min-height: 100%;
}
/** -- SECTION -- **/
