/** -- PAGE -- **/
#backgroundPage {
	position: fixed;
	display: block;
	width: 100%;
	min-height: 100%;
	background: url('../img/background2.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
}

#description {
    padding: 1em;
}

.page-header{
    height: calc(60vh - 80px);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
    background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
    opacity: 0.7;
    overflow: hidden;
}

.page-menu{
    overflow: hidden;
    position:relative;
    padding: 5px 5px 5px 5px;
    height: 60px;
    top: -1%;
    z-index: 10000;
    list-style-type: none;
    text-align: right;
    background-color: #FFFFFF;
}

.page-menu li {
    display: inline-block;
    padding-top: 17px;
    padding-bottom: 5px;
}

.page-menu li a
{
    text-decoration: none;
    padding: 2em 1em;
    color: #798696;
}

.page-menu li a:hover
{
    color: #D3B0FC;
}

.page-menu-button {
    position: relative;
    top: 5px;
    left: 10px;
    display: none;
    cursor: pointer;
}

.page-menu-button img {
    width: 45px;
    height: 45px;
}

#menuCheck{
    display: none;
}

@media screen and (max-width: 850px){
    .page-menu-wrapper{
        background: #FFFFFF;
    }

    .page-menu{
        display: none;
        position: absolute;
        background: #FFFFFF;
        color: #000000;
        text-align: left;
        height: 100%;
        width: 50%;
        z-index: 10000;
    }

    .page-menu li{
        display: block;
        padding-left: 20px;
    }

    .page-menu li a{
        display: block;
        padding: 0;
        text-decoration: none;
        border-bottom: none; 
        color: #000000;
    }

    .page-menu-button{
        display: inline-block;
    }

    #menuCheck:checked + .page-menu{
        display: block;
        width: 100%;
        top: 52px;
    }

    .page-menu-logo {
		visibility: hidden;
	}
}

/** -- FOOTER -- **/
#information_footer {
    width: calc(50% - 2em);
    margin-left: 2em;
    float: left;
    display: block;
}

#contacts_footer {
    width: calc(50% - 2em);
    margin-left: 2em;
    float: right;
    display: block;
}

.page-footer-copyright {
    position: relative;
    padding-top: 0px;
    width: 100%;
    margin: 2.5em 0 2em 0;
    font-size: 0.8em;
    text-align: center;
    color: #999999;
}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

dl.alt dt {
    display: block;
    width: 3em;
    margin: 0;
    clear: left;
    float: left;
}

dl.alt dd {
    margin: 0 0 0.85em 10.5em;
}

dl.alt:after {
    content: '';
    display: block;
    clear: both;
}

ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.35);
}

dl dt {
    color: #444444;
}

@media screen and (max-width: 500px){
    #information_footer {
        display: none;
    }

    #contacts_footer {
        width: calc(50% - 2em);
        /*margin-left: 2em;*/
        float: left;
        display: block;
    }

    .page-menu{
        display: none;
        position: absolute;
        background: #FFFFFF;
        color: #000000;
        text-align: left;
        height: 50%;
        width: 50%;
        z-index: 10000;
    }
}