/* Баннер */

.bunner {
	background: linear-gradient(to bottom, 
        #035CB0 0%, 
        #035CB0 48%,
        #709801 48%, 
        #709801 52%, 
        #024482 52%, 
        #024482 100%);
	color: white;
	text-align: center;
}

.bunner h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.bunner p {
	font-size: 20px;
	max-width: 700px;
	margin: 0 auto 30px;
}

.bunner-btn {
	display: inline-block;
	background-color: #3498db;
	color: white;
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
}

.bunner-btn:hover {
	background-color: #333333;
}

.bunner-container-box {
	display: flex;
	min-height: 550px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}

.bunner-left-box {
	position: relative;
	flex: 2;
}

.bunner-right-box {
	position: relative;
	flex: 1;
}

.bunner-border-1 {
	clip-path: polygon(0.00% 0.00%,100.00% 0.00%,75.00% 100%,25.00% 100%);
	background-color: #1D4A8E;
	min-height: 550px;
}

.bunner-border-2 {
	clip-path: polygon(5.00% 0.00%,95.00% 0.00%,70.00% 100%,30.00% 100%);
	background-color: #153668;
	min-height: 550px;
}

.bunner-border-3 {
	clip-path: polygon(8.00% 0.00%,95.00% 0.00%,70.00% 100%,33.00% 100%);
	background: linear-gradient(to right, 
        #ffffff 0%, 
        #ffffff 50%, 
        #1D4A8E 50%, 
        #1D4A8E 100%);
	min-height: 550px;
}

.bunner-border-4 {
	clip-path: polygon(10.00% 0.00%,95.00% 0.00%,70.00% 100%,35.00% 100%);
	background-color: #1D4A8E;
	min-height: 550px;
	background-image: url("../img/bunner.jpg");
	/*background-position: center;*/
	background-position: 120% 10%;
	background-size: 150%;
}

.bunner-panel-left {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 50px;
	background-color: #1D4A8E;
}

.bunner-panel-left a {
	text-decoration: none;
	color: #EEEEEE;
	height: 50px;
    line-height: 50px;
    text-align: center;
}

.bunner-panel-right {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #1D4A8E;
	color: #EEEEEE;
	height: 50px;
    line-height: 50px;
    text-align: center;
}

.bunner-company {
	background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 90;
    min-height: 100px;
}

.bunner-company-container {
	width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}

.bunner-company-logo {
	position: absolute;
	bottom: 0;
	width: 300px;
	height: 300px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bunner-company-logo-img {
	background-color: #1D4A8E;
	width: 250px;
	height: 250px;
	margin: 5px;
	display: grid;
  	place-items: center;
}

.bunner-company-logo-img img {
	max-width: 100%;
  	max-height: 100%;
}

.bunner-company-title {
	padding-top: 20px;
	padding-left: 350px;
	color: #153668;
	text-align: left;
	text-shadow: 4px 2px 4px rgba(21, 54, 104, 1);
	font-family: 'Bahnschrift SemiBold';
    font-size: 2.5rem;
    font-size: 36px;
    font-weight: bold;
}

.bunner-text {
	padding-top: 30px;
	text-align: left;
	text-indent: 20px;
	line-height: 2.0;
	font-size: 20px;
	max-width: 500px;
	text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.bunner-mini-logos {
	padding-top: 140px;
	text-align: left;
}

.bunner-mini-logos img {
	margin-right: 50px;
}