/* Контакты */
.contact {
    padding: 80px 0;
    background-color: white;
    background-image: url("../img/fishes.jpg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.contact-title {
    text-align: center;
    margin-bottom: 50px;
}

.contact-title h2 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 15px;
}

.contact-title p {
    color: #7f8c8d;
    max-width: 600px;
    margin: 0 auto;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.contact-info h3 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.contact-info p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
    color: #3498db;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    border-color: transparent;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #333333;
}