.bunner {
	color: white;
	padding: 100px 0;
	text-align: center;
	min-height: 100vh;

	background-color: rgba(30, 69, 140, 0.7); /* #1E458C */

}

.bunner h1 {
	font-weight: bold;
    font-family: "Arial", sens-serif;
    font-size: 45px;
    text-transform: uppercase;
}

.bunner h2 {
	color: #96B8EA;
	font-weight: bold;
    font-family: "Arial", sens-serif;
    font-size: 25px;
}

.bunner p {
	font-size: 25px;
	max-width: 700px;
	margin: 0 auto 30px;
}

.bunner-hat {
	background-color: #1E458C;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bunner-hat-description {
	font-size: 18px;
}

.bunner-btn {
	display: inline-block;
	background-color: #3498db;
	color: white;
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
}

.bunner-btn:hover {
	background-color: #8608F2;
	color: #FFFFFF;
}