.background__fullscreen {
    overflow: hidden;
    z-index: -100;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top:45%;
    background-image: url("../video/video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
 
.background__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@media (max-width: 480px) {
    .background__video {
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .background__video {
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .background__video {
        min-height: 100vh;
    }
}

@media screen and (max-width: 800px){
    .background__video {
        min-height: 100vh;
    }
}

@media screen and (max-width: 850px){
    .background__video {
        min-height: 100vh;
    }
}

@media screen and (max-width: 1024px){
    .background__video {
        min-height: 100vh;
    }
}