*{
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
  background: rgb(101,122,127);
	background: radial-gradient(circle, rgba(101,122,127,1) 0%, rgba(18,64,77,1) 76%);
	background-image: url('../img/background.jpg');
	background-size: 100%;
	color: #000;	
	font-family: monospace;
	font-size: 16px;
}

.main-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
}

/* == МЕНЮ ===================================================  */

#Menu{
	min-width: 100%;
	max-width: 100%;
	min-height: 50px;
	max-height: 50px;
	text-align: center;
}

.menu-item {
	display: inline-block;
	background-color: rgba(50,100,128,0.5);
	/* background-color: rgba(23,138,183,0.5); /* 178AB7  */

	color: #FFFFFF;
	font-family: monospace;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
	margin-top: 15px;
	margin-left: 15px;
	min-width: 250px;
	max-width: 250px;
	min-height: 40px;
	max-height: 40px;
	box-shadow: 3px 3px #326480;
}

.menu-item-text {
	position: relative;
	top: 6px;
}

.menu-item-selected {
	background-color: #178AB7;
	color: #FFFFFF;
	font-weight: normal;
}

.menu-item:hover {
	background-color: #178AB7;
	color: #FFFFFF;
	animation: button_flash 0.5s infinite;
}

@keyframes button_flash {
  50% {
    opacity: 0.5;
  }
}

.start-logo {
	background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 90% 100%;
    min-height: 100px;
    max-height: 100px;
    position: relative;
}

.start-menu {
	position: absolute;
	top: 40%;
}

.start-menu-item{
	min-height: 100px;
	max-height: 100px;
	padding-top: 55px;
}

.start-menu-item-img-a{
	background-image: url('../img/A.png');
	background-repeat: no-repeat;
	background-position: 50% 35%
}

.start-menu-item-img-b{
	background-image: url('../img/B.png');
	background-repeat: no-repeat;
	background-position: 50% 35%
}

.start-menu-item-img-c{
	background-image: url('../img/C.png');
	background-repeat: no-repeat;
	background-position: 50% 35%
}

.start-menu-item-img-d{
	background-image: url('../img/D.png');
	background-repeat: no-repeat;
	background-position: 50% 35%
}

.start-menu-item-img-e{
	background-image: url('../img/E.png');
	background-repeat: no-repeat;
	background-position: 50% 35%
}

.start-menu-item-img-f{
	background-image: url('../img/F.png');
	background-repeat: no-repeat;
	background-position: 50% 35%
}

.start-menu-item-text{
	position: relative;
	top: 40px;
}

/* == МЕНЮ ===================================================  */

/* == ОКНО ===================================================  */
#window {
	float: right;
	margin-top: 12px;
  height: 100%;
  min-height: 100%;
	max-height: 100%;
	width: 45%;
	min-width: 45%;
	max-width: 45%;
	display: none;
}

#window_title{
	padding: 5px;
	min-height: 18px;
	max-height: 18px;
	min-width: 100%;
	max-width: 100%;
	background-color: #178AB7;
	color: #FFFFFF;
}

#window_content {
	position: relative;
	border: solid;
	border-color: #178AB7;
	background-color: rgba(255, 255, 255, 1.0);
	font-family: Arial, Helvetica, sans-serif;
	scrollbar-width: thin;
	scrollbar-color: #007CAD #178AB7;
	overflow: scroll;
	padding: 9px;
	min-height: 600px;
	max-height: 600px;
	min-width: 98%;
	max-width: 98%;
}
/* == ОКНО ===================================================  */


/* == ПАНЕЛЬ ФАЙЛОВ ==========================================  */
#files {
	float: left;
  width: 50%;
  min-height: 80%;
	max-height: 80%;
	min-width: 55%;
	max-width: 55%;
}

#PanelFilesA, #PanelFilesB, #PanelFilesC, #PanelFilesD, #PanelFilesE, #PanelFilesF {
	display: none;
}

#PanelFilesB {
	max-height: 650px;
	/*overflow: scroll;*/
	overflow-y: scroll;
	scrollbar-width: thin;
  scrollbar-color: #007CAD #178AB7;
}

.panel-files {
	display: inline-block;
	background-image: url('../img/left_line.png');
	background-repeat: repeat-y;
	padding-left: 50px;
	min-height: 100%;
	max-height: 100%;
	min-width: 90%;
	max-width: 90%;
}

.file {
	background-image: url('../img/file.png');
	background-repeat: no-repeat;
	margin: 10px;
	min-height: 73px;
	max-height: 73px;
	cursor: pointer;
}

.file-row {
	background-image: url('../img/left_line_row.png');
	background-repeat: no-repeat;
	position: relative;
	visibility: hidden;
	min-width: 33px;
	max-width: 33px;
	min-height: 24px;
	max-height: 24px;
	left: -50px;
	top: 25px;
}

.file-image-hover{
	background-image: url('../img/file2.png');
	background-repeat: no-repeat;
}

.file:hover{
	background-image: url('../img/file2.png');
	background-repeat: no-repeat;
}

.file:hover .file-row {
	visibility: visible;
}

.file-text {
	position: relative;
	top: -23px;
	margin-right: 10%;
  border-style: ridge;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 57px;
  max-width: 57px;
	min-height: 73px;
	max-height: 73px;
	color: #514E3F;
	font-weight: bold;
	font-style: normal;
	font-family: serif;
	text-decoration: none;
}

.file-description{
	position: relative;
	top: -95px;
	left: 80px;
	width: 80%;
	min-width: 89%;
	max-width: 89%;
	min-height: 73px;
	max-height: 73px;
}

.file-description-title {
	background-color: rgba(23,138,183,0.5); /* 178AB7  */
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 15px;
}

.file-description-date {
	font-weight: normal;
	float: right;
	padding-right: 5px;
}

.file-description-text {
	margin-top: 2px;
	background-color: rgba(255, 255, 255, 0.7);
	min-height: 40px;
	max-height: 40px;
	padding: 5px;
}

.file:hover .file-description-title {
	background-color: #178AB7;
	color: #FFFFFF;
}

.file:hover .file-description-text {
	background-color: rgba(255, 255, 255, 1.0);
}

.file-description-title-hover{
	background-color: #178AB7;
	color: #FFFFFF;
}

.file-description-text-hover{
	background-color: rgba(255, 255, 255, 1.0);
}

/* == ПАНЕЛЬ ФАЙЛОВ ==========================================  */

/* == АДАПТИВ ================================================  */
@media screen and (max-width: 1800px){
	.main-wrapper {
    width: 92%;
    margin: 0 auto;
    margin-top: 4rem;
	}

	#Menu{
		min-width: 100%;
		max-width: 100%;
		min-height: 100px;
		max-height: 100px;
		text-align: center;
	}

	#window_content {
		min-height: 450px;
		max-height: 450px;
	}

	#PanelFilesB {
		/*overflow: scroll;*/
		overflow-y: scroll;
		max-height: 450px;
	}
}

@media screen and (max-width: 1300px){
	#window {
		display: inline-block;
		float: none;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}

	#files {
		display: inline-block;
		float: none;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		padding-top: 50px;
	}

	#window_content {
		min-height: 100%;
		max-height: 100%;
	}

	#PanelFilesB {
		overflow: visible;
		ьшт-height: 100%;
		max-height: 100%;
	}
}

@media screen and (max-width: 500px){
	#window {
		display: inline-block;
		float: none;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}

	#files {
		display: inline-block;
		float: none;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		padding-top: 250px;
	}

	.panel-files {
		display: inline-block;
		background-image: url('../img/left_line.png');
		background-repeat: repeat-y;
		padding-left: 50px;
		min-height: 100%;
		max-height: 100%;
		min-width: 65%;
		max-width: 65%;
	}

	.file-description-text{
		overflow: hidden;
	}

	.file-description-title{
		overflow: hidden;
	}

	#PanelFilesB {
		overflow: visible;
		min-height: 100%;
		max-height: 100%;
	}
}