/** -- Обнуление ----------------------------------------------------- **/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/** ----------------------------------------------------- **/

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.65;
    background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth; // плавная прокрутка
}

header{
	position: fixed;
	display: block;
	width: 100%;
	min-height: 50%;
	z-index: 10;
}

/** -- DESKTOP ----------------------------------------------------- **/
.desktop__background {
	position: fixed;
	display: block;
	width: 100%;
	min-height: 100%;
	background: url('../img/background.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
}

.desktop__glass {
	position: fixed;
	display: block;
	width: 100%;
	min-height: 100%;
	height: 100vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1E458C), to(#FFFFFF));
    background-image: linear-gradient(to bottom, #1E458C 80%, #FFFFFF 100%);
    opacity: 0.6;
    overflow: hidden;
}

/** -- LOGO ----------------------------------------------------- **/
#logo_delete {
	position: fixed;
	/*top: calc(40vh - 25px);*/
	/*left: calc(100vh - 200px);*/
	top: 30%;
	left: 40%;
	text-align: center;
	color: #FFF;
	max-width: 400px;
	min-width: 400px;
	width: 400px;
}

#logo {
	text-align: center;
	color: #FFF;
	display: inline-block;
	height: 60px;
	width: 400px;
	position: fixed;
	top: calc(40vh - 25px);
	left: 50%;
	margin-left: -200px;
	margin-top: -30px;
}

#logo_title {
	opacity: 0;
	font-weight: bold;
	font-family: "Arial", sens-serif;
	font-size: 40px;
	text-transform: uppercase;
}

#logo_image {
	opacity: 0;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	height: 86px;
	width: 86px;
	position: absolute;
	top: -70px;
	left: 50%;
	margin-left: -43px;
	margin-top: -43px;
}

#logo_info{
	opacity: 0;
	text-align: center;
	color: #FFF;
	display: inline-block;
	height: 150px;
	width: 500px;
	position: absolute;
	top: 200%;
	left: 0%;
	margin-left: -43px;
	margin-top: -43px;
}

.logo__image_rotate {
	transform: rotate(-90deg);
    transition: .1s;
}

.logo__image_back {
	transform: rotate(0deg);
    transition: .5s;
}

/** -- MENU ----------------------------------------------------- **/
nav {
	z-index: 10;
}

.menu{
    overflow: hidden;
    position:fixed;
    border-bottom: 1px solid #7585A5;
    padding: 5px 5px 5px 5px;
    width: 100%;
    height: 60px;
    top: -1%;
    z-index: 10000;
    list-style-type: none;
    text-align: center;
    background-image: -webkit-linear-gradient(0deg, #6379A6 0%, #4E6596 100%);
    background-image: -ms-linear-gradient(0deg, #6379A6 0%, #4E6596 100%);
}

.menu li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 5px;
}

.menu li a
{
    text-decoration: none;
    padding: 2em 1em;
    color: #FFFFFF;
}

.menu li a:hover
{
    color: #D3B0FC;
}


/** -- CONTENT ----------------------------------------------------- **/
section {
	position: relative;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	height: 100vh;
	padding-top: 4%;
	z-index: 1;
}

.page {
	display: block;
	margin-left: auto;
    margin-right: auto;
	background-color: #FFFFFF;
	box-shadow: 10px 5px 5px rgba(20,48,97,0.5);
	max-width: 1400px;
	min-height: 90%;
	max-height: 90%;
	height: 90vh;
}


/** -- FOOTER -- **/
footer {
	display: block;
	background-color: #FFFFFF;
	background-color: rgba(213, 218, 232, 0.5);
	position: fixed;
	bottom: 0;
	width: 100%;
	max-height: 6%;
	min-height: 6%;
	z-index: 10;
}

.footer__copyright {
	float: left;
	font-size: 0.8em;
	text-align: left;
	padding-left: 2%;
	padding-top: 1%;
	color: #7585A5;
}

.footer__social {
	position: relative;
	text-align: right;
	padding-right: 2%;
}

.footer__social li {
    display: inline-block;
    padding-top: 1%;
    padding-right: 10px;
    padding-bottom: 5px;
}

.footer__social li a
{
    text-decoration: none;
    color: #FFFFFF;
}



