.products {
    padding: 80px 0;
}

.products-title {
    text-align: center;
    margin-bottom: 50px;
}

.products-title h2 {
    font-size: 36px;
    color: #EEE;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.products-title p {
    color: #DDD;
    max-width: 600px;
    margin: 0 auto;
    font-size: 22px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.products-card {
    background-color: #0C697F;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.products-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(224, 186, 105, 0.5); /* #E0BA69  */
}

.products-icon {
    font-size: 40px;
    color: #3498db;
    margin-bottom: 20px;
}

.products-icon img {
    width: 50%;
    height: 50%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.products-card h3 {
    margin-bottom: 15px;
    color: #EEE;
    font-size: 20px;
    font-weight: bold;
}