.about {
	padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
	background-color: #1D2576;
    background-image: url("../img/water_down.png");
    background-repeat: repeat-x;
}

.about-content {
	display: flex;
	align-items: center;
	gap: 50px;
}

.about-text {
	flex: 1;
}

.about-text h2 {
	font-size: 42px;
    color: #FFFFFF;
	margin-bottom: 20px;
}

.about-text p {
	margin-bottom: 20px;
	color: #EEEEEE;
}

.about-image {
	flex: 1;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.about-image img {
	width: 100%;
	height: auto;
	display: block;
}

.about-btn {
	display: inline-block;
    padding: 12px 30px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.3), transparent);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.about-btn:hover {
	content: '';
    background: #FFF;
    color: #333333;
    transition: left 0.5s;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255,255,255,0.4);
}