.products {
    padding-top: 150px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    background-image: url("../img/water_up.png");
    background-repeat: repeat-x;
}

.products-title {
    text-align: center;
    margin-bottom: 50px;
}

.products-title h2 {
    font-size: 42px;
    color: #1D2576;
    margin-bottom: 15px;
}

.products-title p {
    color: #7f8c8d;
    max-width: 600px;
    margin: 0 auto;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.products-card {
    background-color: #CCE3F9;
    border-radius: 50px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.products-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.products-icon {
    font-size: 40px;
    color: #3498db;
    margin-bottom: 20px;
}

.products-icon img {
    width: 50%;
    height: 50%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.products-card h3 {
    margin-bottom: 15px;
    color: #2c3e50;
}