/* Контакты */
.contact {
    padding: 80px 0;
    background-color: rgba(224, 186, 105, 0.1);
    clip-path: polygon(0.00% 0.00%,100.00% 15.00%,100.00% 100%,0.28% 85.00%);
}

.contact-title {
    text-align: center;
    margin-bottom: 50px;
}

.contact-title h2 {
    font-size: 36px;
    color: #EEE;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-title p {
    color: #DDD;
    max-width: 600px;
    margin: 0 auto;
    font-size: 22px;
    padding-bottom: 15px;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.contact-info h3 {
    margin-bottom: 20px;
    color: #EEE;
    font-weight: bold;
}

.contact-info p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
    color: #3498db;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-btn {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    border-color: transparent;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #333333;
}