.products-slider-container {
    max-width: 1650px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.products-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.products-slider-title {
    font-size: 42px;
    color: #222222;
    margin-bottom: 20px;
}

.products-slider-controls {
    display: flex;
    gap: 10px;
}

.products-slider-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.products-slider-btn:hover {
    background-color: #f0f0f0;
}

.products-slider-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.products-slider-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    padding-bottom: 55px;
}

.products-slider-product-card {
    position: relative;
    flex: 0 0 320px;
    margin: 0 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(175 196 208 / 47%);
    padding: 1em;
    min-height: 300px;
    text-align: center;
}

.products-slider-product-card:hover {
    -webkit-box-shadow: 0 10px 34px rgb(175 196 208 / 20%);
    box-shadow: 0 10px 34px rgb(175 196 208 / 20%);
}

.products-slider-product-info {
    text-align: left;
}

.products-slider-product-image {
    display: block;
    text-align: center;
    margin: auto;
}

.products-slider-product-title {
    display: block;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: #5C6882;
    margin-top: 5px;
    margin-bottom: 5px;
}

.products-slider-product-description {
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 80px;
    max-height: 80px;
}

.products-slider-product-button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.products-slider-product-button:hover {
    background-color: #8608F2;
    color: #FFFFFF;
}

@media (max-width: 1600px) {
    .products-slider-product-card {
        flex: 0 0 320px;
    }
}

@media (max-width: 1440px) {
    .products-slider-product-card {
        flex: 0 0 320px;
    }
}

@media (max-width: 1200px) {
    .products-slider-product-card {
        flex: 0 0 320px;
    }
}

@media (max-width: 1024px) {
    .products-slider-product-card {
        flex: 0 0 320px;
    }

    .products-slider-description {
        display: none;
    }
}