.products-slider-container {
    max-width: 1650px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.products-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.products-slider-title {
    font-size: 42px;
    color: #222222;
    margin-bottom: 20px;
}

.products-slider-controls {
    display: flex;
    gap: 10px;
}

.products-slider-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.products-slider-btn:hover {
    background-color: #f0f0f0;
}

.products-slider-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.products-slider-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    padding-bottom: 55px;
}

.products-slider-product-card {
    position: relative;
    flex: 0 0 320px;
    margin: 0 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(175 196 208 / 47%);
    padding: 1em;
}

.products-slider-product-card:hover {
    -webkit-box-shadow: 0 10px 34px rgb(175 196 208 / 20%);
    box-shadow: 0 10px 34px rgb(175 196 208 / 20%);
}

.products-slider-product-image {
    display: block;
    text-align: center;
    margin: auto;
}

.products-slider-product-title {
    display: block;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    color: #5C6882;
}