/* Контакты */
.contact {
    padding: 80px 0;
    background-color: #F3F3F3;
    background-image: url("../img/bunner-03.png");
    background-repeat: no-repeat;
    background-position: 30% 100%;
    background-size: 20%;
}

.contact-title {
    text-align: left;
    margin-bottom: 50px;
}

.contact-title h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 3.0vw;
    line-height: 5vw;
    text-transform: uppercase;
}

.contact-title p {
    font-family: Rubik, sans-serif;
    color: #424146;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.contact-info h3 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.contact-info p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
    color: #3498db;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-btn {
    display: inline-block;
    background-color: #035CB0;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    border-color: transparent;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #333333;
}