.about {
	padding: 80px 0;
	background-color: rgba(29, 74, 142, 0.2);
}

.about-content {
	display: flex;
	align-items: center;
	gap: 50px;
}

.about-text {
	flex: 1;
}

.about-text h2 {
	font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}

.about-text p {
	margin-bottom: 20px;
	color: white;
}

.about-image {
	flex: 1;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 61% 39% 37% 63% / 46% 24% 76% 54%;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.about-image img {
	width: 100%;
	height: auto;
	display: block;
}

.about-btn {
	display: inline-block;
	background-color: #3498db;
	color: white;
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
}

.about-btn:hover {
	background-color: #333333;
}