/* Баннер */

.bunner {
	color: white;
	padding: 25px 0;
	text-align: center;
}

.bunner h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

.bunner p {
	font-size: 20px;
	max-width: 700px;
	margin: 0 auto 30px;
}

.bunner-btn {
	display: inline-block;
	background-color: #3498db;
	color: white;
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
}

.bunner-btn:hover {
	background-color: #333333;
}