.products {
    padding: 80px 0;
}

.products-title {
    text-align: center;
    margin-bottom: 50px;
}

.products-title h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}

.products-title p {
    color: white;
    max-width: 600px;
    margin: 0 auto;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.products-card {
    background-color: #f8f9fa;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.products-card-left {
    background-color: #f8f9fa;
    border-radius: 15% 5%; /* top-left, top-right, bottom-right, bottom-left */
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.products-card-right {
    background-color: #f8f9fa;
    border-radius: 5% 15%;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.products-card:hover, .products-card-left:hover, .products-card-right:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.products-icon {
    font-size: 40px;
    color: #3498db;
    margin-bottom: 20px;
    border-color: blue;
}

.products-icon img {
    width: 60%;
    height: 50%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.products-card h3 {
    margin-bottom: 15px;
    color: #2c3e50;
}

.products-card-left h3 {
    margin-bottom: 15px;
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.products-card-right h3 {
    margin-bottom: 15px;
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.products-description {
    color: #2c3e50;
}