/* Адаптивность */

@media (max-width: 1600px) {
    .bunner-fishes-img {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {

    header {
        position: sticky;
        margin: 0;
        height: 5%;
        min-height: 5%;
        max-height: 5%;
    }

    .header-phone-email {
        display: none;
    }

    .header-mobile-contacts {
        display: block;
    }

    .header-container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin: 5px 10px;
    }

    .mobile-menu-btn {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    nav {
        display: none;
        width: 100%;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .bunner h1 {
        font-size: 36px;
    }

    .bunner p {
        font-size: 18px;
    }

    .bunner h1, .bunner h2, .about h2, .news-title h2, .contact h2 {
        margin-bottom: 20px;
        font-family: Rubik, sans-serif;
        font-weight: 700;
        font-size: 6.9vw;
        line-height: 6vw;
        text-transform: uppercase;
    }

    .bunner-mini-logos {
        padding: 0;
        padding-top: 10%;
        text-align: center;
    }

    .bunner-side-left, .bunner-side-right {
        width: 100%;
        display: block;
    }

    .bunner-image-container {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
    }


    .products-card h3 {
        font-size: 24px;
    }

    .goods-slider-product-card {
        /*flex: 0 0 calc(33.333% - 16px);*/
        flex: 0 0 calc(40% - 16px);
    }

    .goods-title p {
        display: none;
    }

    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content {
        text-align: center;
    }

    .contact {
        background-image: none;
    }
}

@media (max-width: 576px) {

    header {
        position: sticky;
        margin: 0;
        height: 5%;
        min-height: 5%;
        max-height: 5%;
    }

    .bunner h1, .bunner h2, .about h2, .news-title h2, .contact h2 {
        margin-bottom: 20px;
        font-family: Rubik, sans-serif;
        font-weight: 700;
        font-size: 6.9vw;
        line-height: 6vw;
        text-transform: uppercase;
    }

    .bunner-mini-logos {
        padding: 0;
        padding-top: 10%;
        text-align: center;
    }

    .goods-slider-product-card {
        /*flex: 0 0 calc(70% - 16px);*/
        flex: 0 0 calc(85% - 16px);
    }

    .goods-slider-container {
        padding: 0 20px;
    }

    .goods-title h2 {
        margin-bottom: 20px;
        font-family: Rubik, sans-serif;
        font-weight: 700;
        font-size: 6.9vw;
        line-height: 6vw;
        text-transform: uppercase;
    }

    .goods-title p {
        display: none;
    }

    .footer-content {
        text-align: center;
    }

    .contact {
        background-image: none;
    }
}

@media (max-width: 480px) {
    header {
        position: sticky;
        margin: 0;
        height: 5%;
        min-height: 5%;
        max-height: 5%;
    }

    .bunner h1, .bunner h2, .about h2, .news-title h2, .contact h2 {
        margin-bottom: 20px;
        font-family: Rubik, sans-serif;
        font-weight: 700;
        font-size: 6.9vw;
        line-height: 6vw;
        text-transform: uppercase;
    }

    .bunner-mini-logos {
        padding: 0;
        padding-top: 10%;
        text-align: center;
    }
        
    .goods-title p {
        display: none;
    }

    .news-grid {
        grid-template-columns: 1fr;
    }

    .footer-content {
        text-align: center;
    }

    .contact {
        background-image: none;
    }
}