/* Баннер */

.bunner {
	background-color: #F3F3F3;
	font-family: Rubik, sans-serif;
	color: #1D4A8E;
	padding-top: 50px;
	text-align: left;
}

.bunner h1 {
	margin-bottom: 20px;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	font-size: 3.9vw;
	line-height: 5vw;
	text-transform: uppercase;
}

.bunner p {
	font-size: 20px;
	line-height: 2.0;
	max-width: 700px;
	padding-bottom: 50px;
	color: #424146;
}

.bunner-btn {
	display: inline-block;
	background-color: #035CB0;
	color: white;
	padding: 12px 30px;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
}

.bunner-btn:hover {
	background-color: #333333;
}

.bunner-mini-logos {
	padding-top: 50px;
}

.bunner-mini-logos img {
	/*background-color: #060D13;*/
	background-color: #1D4A8E;
	border-radius: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.bunner-side-left, .bunner-side-right {
	display: inline-block;
	width: 49%;
	vertical-align: top;
	box-sizing: border-box;
}

.bunner-side-right img {
	position: relative;
	max-width: 100%;
}

.bunner-products-title {
	padding-top: 20%;
}

.bunner-products-title h2 {
	font-size: 48px;
    margin-bottom: 20px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 3.0vw;
    line-height: 5vw;
    text-transform: uppercase;
}

.bunner-products-title p {
	font-family: Rubik, sans-serif;
	color: #424146;
}