.news {
	padding: 80px 0;
	background-color: #F3F3F3;
}

.news-title {
    text-align: left;
    margin-bottom: 50px;
}

.news-title h2 {
    margin-bottom: 20px;
    font-family: Rubik, sans-serif;
    font-weight: 700;
    font-size: 3.0vw;
    line-height: 5vw;
    text-transform: uppercase;
    color: #1D4A8E;
}

.news-title p {
    font-family: Rubik, sans-serif;
    color: #424146;
}

.news-container {
    margin: 0 auto;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.news-item {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
}

.news-item-image {
    width: 100%;
    object-fit: cover;
}

.news-item-content {
    padding: 20px;
}

.news-item-date {
	color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.news-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.4;
}

.news-item-excerpt {
    color: #666;
    line-height: 1.5;
    font-size: 14px;
}

.news-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.news-pagination-page-btn {
    padding: 10px 15px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.news-pagination-page-btn:hover {
    background: #f0f0f0;
}

.news-pagination-page-btn.active {
    background: #090E12;
    color: white;
    /*border-color: #007bff;*/
}

.news-pagination-page-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.news-pagination-prev-btn, .news-pagination-next-btn {
    padding: 10px 20px;
}
