/* Базовые стили  */

body {
    line-height: 1.6;
    color: white;
    overflow-x: hidden;
    background: linear-gradient(135deg, #00A680, #1a2980);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}