/* Контакты */
.contact {
    padding: 80px 0;
}

.contact-title {
    text-align: center;
    margin-bottom: 50px;
}

.contact-title h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
}

.contact-title p {
    color: white;
    max-width: 600px;
    margin: 0 auto;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.contact-info h3 {
    margin-bottom: 20px;
    color: white;
}

.contact-info p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info i {
    margin-right: 10px;
    color: #3498db;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-btn {
    all: unset;
}

.contact-btn:hover {

}