body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.65;
    background-attachment: fixed;
    background-image: url(../img/img3.jpg);
    background-size: cover;
	background-color: #FFFFFF;
}

header {
	height: 50vh;
	position: relative;
	background-color: rgba(125, 125, 125, 0.3);
}

section {
	position: relative;
	overflow: hidden;
}

footer {
	height: 25vh;
	background-image: url(../img/overlay.png);
	background-color: #25242c;
	position: relative;
	overflow: hidden;
}

a {
	-moz-transition: color 0.2s ease, border-bottom 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom 0.2s ease;
	transition: color 0.2s ease, border-bottom 0.2s ease;
	text-decoration: none;
	border-bottom: dotted 1px;
	color: inherit;
}

a:hover {
	border-bottom-color: transparent;
}

dl {
	margin: 0 0 2em 0;
}

dl dt {
	display: block;
	font-weight: 400;
	margin: 0 0 1em 0;
}

dl dd {
	margin-left: 2em;
}

dl.alt dt {
	display: block;
	width: 3em;
	margin: 0;
	clear: left;
	float: left;
}

dl.alt dd {
	margin: 0 0 0.85em 10.5em;
}

dl.alt:after {
	content: '';
	display: block;
	clear: both;
}

ul.alt li {
	border-top-color: rgba(255, 255, 255, 0.35);
}

dl dt {
	color: #D1D1D1;
}

#headerTitleAndLogo {
	text-align: center;
	color: #FFF;
	display: inline-block;
	height: 60px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -30px;
}

#title {
	opacity: 0;
	font-weight: bold;
	font-family: "Arial", sens-serif;
	font-size: 40px;
	text-transform: uppercase;
	
}

#title a{
	text-decoration: none;
	color: #FFFFFF;
}

#logo {
	opacity: 0;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	height: 86px;
	width: 86px;
	position: absolute;
	top: -70px;
	left: 50%;
	margin-left: -43px;
	margin-top: -43px;
}

#content {
	background-color: rgba(55, 55, 55, 0.5);
}

#information {
	background-image: url(../img/overlay.png);
	background-color: #25242c;
	height: 250px;
	color: #D1D1D1;
}

#information_footer {
	width: calc(50% - 2em);
    margin-left: 2em;
    float: left;
    display: block;
}

#contacts_footer {
	width: calc(50% - 2em);
    margin-left: 2em;
    float: right;
    display: block;
}

.download {
	margin: 2em;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.7);
	border: 0;
    border-radius: 8px;
}

.download ul{
	list-style-type: none;
	list-style: none;
	display: block;
	padding: 0;
}

.download ul li {
	padding-left: 5px;
	display: inline;
}

.download form {
	padding: 5px;
}

.Copyright {
	padding-top: 50px;
	width: 100%;
	margin: 2.5em 0 2em 0;
	font-size: 0.8em;
	text-align: center;
	color: #BDBDBD;
}

.Line:after {
	display: block;
	content: '';
	width: 3.25em;
	height: 2px;
	margin: 0.7em 0 1em 0;
	border-radius: 2px;
	background-color: #dddddd;
	background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
	background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

.Button {
	width: 125px;
    height: 33px;
    cursor:pointer;
    border: 0;
    border-radius: 8px;
    color: #D3D3D3;
    background-color: rgb(50, 50, 50);
}

.Button:hover {
	width: 125px;
    height: 33px;
    cursor:pointer;
    border: 0;
    border-radius: 8px;
    background-color: #ffffff;
    color: #434343;
}

.Rotate {
	transform: rotate(-90deg);
    transition: .1s;
}

.RotateBack {
	transform: rotate(0deg);
    transition: .5s;
}

.Image {
	border: 4px double black;
	border-color: #000;
    border-radius: 8px;
}

.ImageTD{
	width: 20%;
}

.DescriptionTD{
	width: 40%;
	padding: 1em;
}

.ActionTD{
	width: 40%;
	padding: 1em;
}

.Video{
	text-align: center;
}